

#main-header {
	text-align:center;
	padding-bottom: 25px;
	border-radius: 25px;
	background-color: white;
	opacity: 0.7;
	font-size: 50px;
	font-family: Impact, fantasy;
	-webkit-text-stroke-width: 2px;
	-webkit-text-stroke-color: green;
}

#toDoList {
	padding-top: 10px;
	
}

#secondary-message {
	text-align: center;
	padding-bottom: 10px;
	color: black;
	border-radius: 25px;
	background-color: white;
	opacity: 0.7;
	font-size: 25px;
	font-family: Impact, fantasy;
}

#pictureLinks {
	margin: auto;
	width: 100%;
	padding: 15px;
	padding-left: 32%;
	content-align: center;
	
}

#roundPic {
	border-radius: 50%;
}


#MainSqueezer {
	padding-left: 50px;
	padding-right: 50px;
}

#SqueezeHeaders {
	padding-left: 35%;
	padding-right: 35%;
}

#showBorder {
	border: 1px solid black;
	padding: 10px;
	border-radius: 25px;
	background-color: white;
	opacity: 0.9;
	padding-top: 30px;
}

#createButton {
	padding-top: 10px;
	width: 200px;
	height: 45px;
}

#logoutButton {
	width: 200px;
	height: 45px;
}

#CreateButton {
	width: 200px;
	height: 45px;
}

footer {
	text-align: center;
	padding-bottom: 10px;
	color: black;
	border-radius: 25px;
	background-color: white;
	opacity: 0.7;
	font-size: 25px;
	font-family: Impact, fantasy;
	border: 1px solid black;
	
}


#emptySpaceCreateAndLogout {
	padding: 15px;
}


body {
	font-family: Arial;
 	margin: 0;
}


.zoom-effect-container {
    float: left;
    position: relative;
    width: 135px;
    height: 135px;
    margin: 0 auto;
}

.image-card img {
  -webkit-transition: 0.6s ease;
  transition: 0.6s ease;
}

.zoom-effect-container:hover .image-card img {
  -webkit-transform: scale(1.4);
  transform: scale(1.4);
}



