<!DOCTYPE html>
	<html 
		xmlns= "http://www.w3.org/1999/xhtml" 
		xmlns:th="http://www.thymeleaf.org"
		xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
			
			
			<head>
				<meta http-equiv="Content-type" content="text/html; charset-UTF-8"/>
				<link type="text/css" rel="stylesheet" href="/css/editPage.css" th:gref="@{css/editPage.css}" />
				<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
			
				<title>MLaunchPad</title>
				
				
			</head>
				<body>
				
					<h1 id="headText">Edit ToDo</h1>
					
							<form th:object="${toDo}" th:action="@{../save}" action="#" method="post">
								
								<input type="hidden" th:field="*{id}" class="form-control"/>
						
						
						
							<div id="infoDiv">
								<label for="Info">Info</label>
								<input id="info" th:field="*{info}"></input>
							
							
							
							<div id="timeDiv">
								<label for="Time">Time</label>
								<input type="text" id="time" th:field="*{time}"/>
							</div>
							
							
							
							<div id="locationDiv">
								<label for="Location">Location</label>
								<input type="text" id="location" th:field="*{location}"/>
							</div>
							
							
							
							<div id="typeDiv">
								<label for="typeList">Type</label>
								<select id="typeList" th:field="*{type}" class="form-control">
									<option th:each="type: ${types}" th:value="${type.typeID}" th:text="${type.typeName}">
								</select>
							</div>
								
								
								
							<div id="saveDiv">
								<input type="submit" value="Save"></input>
							</div>
							
							
							</form>
							
							<div>
								<a href="/Mhome" >Cancel</a>
							</div>
						
						
						
				</body>
	</html>